@font-face {
  font-family: 'Chapaza';
  src: url('../font/ChapazaItalic-Italic.eot');
  src: url('../font/ChapazaItalic-Italic.eot?#iefix') format('embedded-opentype'), url('../font/ChapazaItalic-Italic.woff2') format('woff2'), url('../font/ChapazaItalic-Italic.woff') format('woff'), url('../font/ChapazaItalic-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Font Awesome 5 Pro';
  src: url('../font/FontAwesome5ProLight.eot');
  src: url('../font/FontAwesome5ProLight.eot?#iefix') format('embedded-opentype'), url('../font/FontAwesome5ProLight.woff2') format('woff2'), url('../font/FontAwesome5ProLight.woff') format('woff'), url('../font/FontAwesome5ProLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #00437a;
}
select,
.select {
  background-image: url('../img/picto/angle-down-solid.png');
  background-position: right 10px center;
  background-size: 8px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 15px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
b,
strong {
  color: #00133c;
  font-weight: 700;
}
hr {
  border-top: 2px solid #e40744;
  margin-top: 50px;
  margin-bottom: 50px;
}
p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.uppercase {
  text-transform: uppercase;
}
.readmore-container .readmore {
  color: #e40744;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}
.readmore-container .readmore:hover {
  text-decoration: none;
}
.home .slick-slider .slick-prev {
  left: -50px;
}
.home .slick-slider .slick-next {
  right: -50px;
}
.home .slick-slider .slick-prev,
.home .slick-slider .slick-next {
  top: 50%;
  -webkit-transform: translate(0, -25px);
  -moz-transform: translate(0, -25px);
  -ms-transform: translate(0, -25px);
  -o-transform: translate(0, -25px);
  transform: translate(0, -25px);
}
section.dernieres-actualites {
  background: #00133c;
  padding-bottom: 83px;
}
section.dernieres-actualites .liste-actu {
  display: flex;
  flex-wrap: wrap;
}
section.dernieres-actualites .actu {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
}
section.dernieres-actualites .actu .top {
  position: relative;
}
section.dernieres-actualites .actu .top .container-img {
  width: inherit;
  height: 210px;
  overflow: hidden;
}
section.dernieres-actualites .actu .top .date {
  position: absolute;
  bottom: 35px;
  right: -10px;
  font-weight: 700;
  font-size: 15px;
}
section.dernieres-actualites .actu .top .date i {
  font-family: 'Font Awesome 5 Pro', sans-serif;
  font-weight: 300;
}
section.dernieres-actualites .actu .content {
  background: #fff;
  padding: 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  flex: 1 0 auto;
}
section.dernieres-actualites .actu .content .titre {
  padding: 0 0 20px 0;
  margin: 0;
}
section.dernieres-actualites .actu .content .titre a {
  font-weight: 900;
  font-size: 19px;
  color: #00437a;
  text-decoration: none;
}
section.dernieres-actualites .actu .content .chapo {
  padding-bottom: 50px;
}
section.dernieres-actualites .actu .content .chapo p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #00437a;
}
section.dernieres-actualites .actu .content .readmore-container {
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 40px;
}
section.prochains-evenements {
  background-color: #f0f0f0;
  padding: 85px 0 50px 0;
  position: relative;
}
section.prochains-evenements::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 47px;
  width: 100%;
  z-index: 1;
  background-image: url('../img/pattern-dark.png');
}
section.prochains-evenements .events-list {
  margin-top: 57px;
  display: flex;
}
section.prochains-evenements .highlighted-event-container {
  flex: 1 0 auto;
}
section.prochains-evenements .highlighted-event {
  background: #e2e2e2;
  border-radius: 3px;
  padding: 25px;
  height: 100%;
}
section.prochains-evenements .highlighted-event .left-side {
  width: 260px;
  overflow: hidden;
  flex-shrink: 0;
}
section.prochains-evenements .highlighted-event .left-side img {
  height: 100%;
}
section.prochains-evenements .highlighted-event .right-side {
  flex-grow: 1;
  padding-left: 20px;
}
section.prochains-evenements .highlighted-event .right-side .titre {
  padding: 0;
  margin: 35px 0 20px 0;
}
section.prochains-evenements .highlighted-event .right-side .titre::before {
  display: none;
}
section.prochains-evenements .highlighted-event .right-side .titre a {
  font-weight: 900;
  font-size: 19px;
  color: #00437a;
  text-transform: uppercase;
  text-decoration: none;
}
section.prochains-evenements .highlighted-event .right-side .chapo p {
  font-size: 15px;
  color: #00437a;
  line-height: 1;
}
section.prochains-evenements .minified-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.prochains-evenements .minified-events .minified-event {
  flex: 1 0 45%;
  background: #fff;
  border: 1px solid #b0c7e1;
  border-radius: 3px;
  padding: 25px;
}
section.prochains-evenements .minified-events .minified-event:nth-of-type(1) {
  margin: 0 15px 15px 0;
}
section.prochains-evenements .minified-events .minified-event:nth-of-type(2) {
  margin: 0 0 15px 15px;
}
section.prochains-evenements .minified-events .minified-event:nth-of-type(3) {
  margin: 15px 15px 0 0;
}
section.prochains-evenements .minified-events .minified-event:nth-of-type(4) {
  margin: 15px 0 0 15px;
}
section.prochains-evenements .minified-events .minified-event .titre {
  padding: 0;
  margin: 12px 0 0 0;
  line-height: 1;
}
section.prochains-evenements .minified-events .minified-event .titre::before {
  display: none !important;
}
section.prochains-evenements .minified-events .minified-event .titre a {
  font-weight: 400;
  font-size: 16px;
  color: #00437a;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 500ms;
}
section.prochains-evenements .minified-events .minified-event .titre:hover a {
  color: #00133c;
}
section.prochains-evenements .minified-events .minified-event .readmore-container {
  margin-top: 15px;
}
section.prochains-evenements .date-container {
  line-height: 1.2;
}
section.prochains-evenements .date-container span {
  font-size: 13px;
  color: #e40744;
  text-transform: uppercase;
  display: block;
}
section.prochains-evenements .date-container span.date {
  font-weight: 900;
  font-size: 23px;
}
section.prochains-evenements .date-container hr {
  margin: 15px 0 0 0;
  border-top: 1px solid #00437a;
}
section.prochains-evenements .readmore-container {
  text-align: center;
  margin-top: 35px;
}
.btn {
  border: none;
}
.btn.btn-danger {
  padding: 7px 15px;
  background: #e40744;
  border: 1px solid #e40744;
}
.btn.btn-primary {
  background: #00133c;
  border: 1px solid #00133c;
}
.btn i {
  margin-right: 11px;
}
.btn.btn-light {
  border: 1px solid #b0c7e1;
  color: #e40744;
}
.btn.btn-link {
  width: 100%;
  text-align: left;
  color: #00133c;
  font-size: 22px;
  font-weight: 700;
}
.read-more {
  text-decoration: none;
  border: 1px solid;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 3px 10px;
}
.read-more span {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.read-more span::after {
  content: '\f105';
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 18px;
  padding-left: 12px;
}
.read-more.dark {
  border-color: #e40744;
  color: #fff;
}
.read-more.light {
  border-color: #b0c7e1;
  color: #e40744;
}
.read-more.primary {
  border-color: #b0c7e1;
  color: #00437a;
}
.read-more:hover {
  text-decoration: none;
}
.contact {
  text-decoration: none;
  border: 1px solid;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
}
.contact span {
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
}
.contact span::before {
  content: url("../img/picto/contact.png");
  padding-right: 10px;
}
.contact.light {
  border-color: #b0c7e1;
  color: #e40744;
}
.programme__link {
  text-decoration: none;
  border: 1px solid;
  padding: 5px 15px;
  display: inline-flex;
  justify-content: center;
  border-radius: 2px;
}
.programme__link.light {
  border-color: #b0c7e1;
  color: #b0c7e1;
  background: #ffffff;
  font-weight: 400;
}
.programme__link.light.bis {
  width: 90%;
  padding: 10px 15px;
}
.programme__link.altblue {
  border-color: #b0c7e1;
  color: #00437a;
  background: #ffffff;
  font-weight: 400;
}
.programme__link span.poste {
  font-size: 20px;
}
.programme__link span.poste.bis {
  font-size: 25px;
  position: relative;
  display: flex;
  align-items: start;
}
.programme__link span.poste.bis::before {
  content: url("../img/picto/postuler-big.png");
}
.programme__link span.poste.bis::after {
  content: "";
  position: absolute;
  border-top: 3px solid #b0c7e1;
  width: 25%;
  bottom: 8px;
  left: 50px;
}
.programme__link span.poste::before {
  content: url("../img/picto/postuler.png");
  padding-right: 10px;
}
.programme__link span.brochure {
  font-size: 20px;
  position: relative;
  padding-left: 40px;
  display: flex;
  align-items: center;
  line-height: 100%;
}
.programme__link span.brochure.bis {
  font-size: 25px;
}
.programme__link span.brochure.bis::before {
  content: url("../img/picto/brochure-big.png");
}
.programme__link span.brochure::before {
  content: url("../img/picto/brochure.png");
  padding-right: 10px;
  position: absolute;
  left: -5px;
}
.programme__link span.email::before {
  content: "\f0e0";
  padding-right: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.programme__link span.linkedin::before {
  content: "\f0e1";
  padding-right: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.slick-slider .slick-prev,
.slick-slider .slick-next {
  color: transparent;
  background: #e40744;
  border: 1px solid #e40744;
  border-radius: 2px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 18px;
  position: absolute;
  z-index: 2;
}
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slider .slick-prev {
  left: 0;
  top: -16px;
}
.slick-slider .slick-prev::before {
  content: "\f104";
}
.slick-slider .slick-next {
  right: 0;
  top: -16px;
}
.slick-slider .slick-next::before {
  content: "\f105";
}
h1 {
  color: #00133c;
  position: relative;
  font-size: 33px;
  padding-left: 142px;
  padding-top: 40px;
  z-index: 2;
  text-indent: -48px;
}
h1::before {
  content: "";
  width: 40px;
  height: 40px;
  background: #b0c7e1;
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 16px;
}
h1::after {
  content: "";
  width: 40px;
  height: 40px;
  background: #e40744;
  position: absolute;
  z-index: -1;
  left: 40px;
  top: 16px;
}
h1 .h1__blue {
  color: #ffffff;
  position: relative;
  z-index: 1;
}
h1 .h1__blue::before {
  content: "";
  position: absolute;
  background: #00133c;
  width: 80px;
  height: 80px;
  z-index: -1;
  left: -42px;
  top: 2px;
}
h2 {
  font-size: 27px;
  font-weight: 400;
  color: #e40744;
  padding-bottom: 20px;
  padding-top: 20px;
}
h2.titre-section {
  font-weight: 300;
  font-size: 25px;
  text-align: right;
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
  padding-top: 20px;
  line-height: 1;
}
h2.titre-section .big {
  display: block;
  font-weight: 700;
  font-size: 47px;
}
h2.titre-section.dark {
  color: #fff;
}
h2.titre-section.light {
  color: #00437a;
}
h2.titre-section::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 142px;
  bottom: 0;
  right: 0;
  background: #e40744;
}
h3 {
  font-weight: 900;
  color: #00133c;
  font-size: 22px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
}
h3::before {
  content: "";
  width: 45px;
  height: 45px;
  background: #e40744;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -1px;
}
h3.light {
  padding-left: 21px;
  margin-top: 40px;
}
h3.light::before {
  background: #b0c7e1;
  width: 70px;
  height: 70px;
  top: -20px;
}
h3.none {
  padding: 0 20px;
  font-weight: 900;
}
h3.none::before {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background: none;
  font-size: 10px;
  border: 1px solid #b0c7e1;
  color: #b0c7e1;
  border-radius: 20px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
}
h4 {
  color: #00437a;
  font-size: 21px;
  padding-bottom: 10px;
  padding-top: 10px;
}
h4.info {
  color: #00133c;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 0;
}
h4.danger {
  color: #e40744;
  position: relative;
}
h4.danger::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  background: #e40744;
  bottom: -5px;
  left: 0;
}
.surheader .rs {
  padding: 8px 0;
}
.surheader .rs a {
  text-decoration: none;
  padding-right: 17px;
}
.surheader .rs a i {
  color: #b0c7e1;
  transition: all 500ms;
  font-size: 18px;
}
.surheader .rs a:hover i {
  color: #00133c;
}
.surheader .cta-lang .btn {
  margin: -3px 5px 0 5px;
}
.surheader .cta-lang i {
  font-family: 'Font Awesome 5 Pro', sans-serif;
  font-weight: 300;
}
.surheader .cta-lang span {
  font-size: 13px;
}
.surheader .dropdown {
  padding-left: 10px;
}
.surheader .dropdown .dropdown-select {
  background-image: url('../img/picto/angle-down-solid.png');
  background-position: right 10px center;
  background-size: 8px;
  background-repeat: no-repeat;
}
.surheader .dropdown .dropdown-select img {
  padding-right: 30px;
}
.menu {
  background: #00133c;
}
.menu .nav-item {
  position: static;
}
.menu .nav-item i {
  display: none;
  color: #fff;
  font-size: 20px;
}
.menu .navbar-brand img {
  width: 118px;
}
.menu .hamburger .hamburger-box .hamburger-inner {
  background: #fff;
}
.menu .hamburger .hamburger-box .hamburger-inner::before,
.menu .hamburger .hamburger-box .hamburger-inner::after {
  background: #fff;
}
.menu .dropdown_main {
  display: none;
  background: #f0f0f0;
  width: 100%;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 0;
  right: 0;
  top: 93px;
  text-transform: none;
  font-weight: 400;
}
.menu .dropdown_main.active {
  display: block;
}
.menu .dropdown_main .menu_drop {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.menu .dropdown_main .menu_drop.col-lg-8 .second-level {
  width: 33%;
}
.menu .dropdown_main .menu_drop .retour-mobile {
  display: none;
}
.menu .dropdown_main .menu_drop .retour-mobile span {
  display: inline-block;
  position: relative;
  padding: 15px 0 20px 35px;
}
.menu .dropdown_main .menu_drop .retour-mobile span::before {
  content: '';
  position: absolute;
  left: 0;
  width: 25px;
  height: 20px;
  background-size: contain;
}
.menu .dropdown_main .menu_drop .second-level {
  font-size: 14px;
  width: 25%;
  padding: 0 20px 20px;
  position: relative;
}
.menu .dropdown_main .menu_drop .second-level a {
  color: #00133c;
  text-decoration: none;
  transition: color 300ms;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 5px;
}
.menu .dropdown_main .menu_drop .second-level i {
  cursor: pointer;
  display: none;
  margin-left: 30px;
  font-size: 20px;
  position: absolute;
  right: 20px;
}
.menu .dropdown_main .menu_drop .second-level .third-level {
  font-size: 16px;
  list-style: none;
  padding-top: 4px;
}
.menu .dropdown_main .menu_drop .second-level .third-level li {
  padding: 3px 0;
}
.menu .dropdown_main .menu_drop .second-level .third-level a {
  color: #00437a;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  position: relative;
  transition: color 300ms;
}
.menu .dropdown_main .menu_drop .second-level .third-level a:hover {
  color: #e40744;
}
.menu .nv1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
}
.menu .nv1 span {
  padding-bottom: 10px;
}
footer {
  background: #00133c;
  padding-top: 57px;
}
footer .main-footer {
  justify-content: space-between;
}
footer .logo-rs-container .rs {
  padding: 26px 0;
}
footer .logo-rs-container .rs a {
  text-decoration: none;
  padding-right: 14px;
}
footer .logo-rs-container .rs a i {
  color: #fff;
  transition: all 500ms;
  font-size: 18px;
}
footer .logo-rs-container .rs a:hover i {
  color: #b0c7e1;
}
footer .une-ecole {
  margin-top: 10px;
}
footer .contact-lien {
  border: 1px solid #e40744;
  border-radius: 2px;
  color: #e40744;
  display: block;
  padding: 12px 20px;
  text-decoration: none;
}
footer .contact-lien img {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  margin: auto;
}
footer .contact-lien span {
  display: block;
  position: relative;
  margin-bottom: 12px;
}
footer .contact-lien span::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background: #e2e2e2;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translate(-20px, 0);
  -moz-transform: translate(-20px, 0);
  -ms-transform: translate(-20px, 0);
  -o-transform: translate(-20px, 0);
  transform: translate(-20px, 0);
}
footer h4 {
  font-size: 13px;
  font-weight: 700;
  color: #e40744;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding: 0;
}
footer .certif img {
  margin-right: 33px;
}
footer .sub-footer {
  border-top: 1px solid #4d5a77;
  border-bottom: 1px solid #4d5a77;
  padding: 15px 0;
}
footer .sub-footer .menu-footer {
  margin: auto;
}
footer .sub-footer .menu-footer .item {
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  padding-left: 35px;
  position: relative;
}
footer .sub-footer .menu-footer .item::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #4d5a77;
  left: 13px;
  bottom: 7px;
}
footer .sub-footer .menu-footer .item:first-of-type {
  padding-left: 0;
}
footer .sub-footer .menu-footer .item:first-of-type::before {
  display: none;
}
footer .sub-footer .menu-footer .item a {
  color: #e2e2e2;
  text-decoration: none;
  padding-bottom: 5px;
}
footer .copyright {
  justify-content: flex-end;
}
footer .copyright p {
  font-size: 12px;
  color: #a3a7b0;
}
footer .copyright p a {
  color: inherit;
  text-decoration: underline;
}
.home section.header {
  background-color: #f0f0f0;
  background-image: url('../img/banner-home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.home section.header .baseline {
  padding: 85px 0 75px 0;
}
.home section.header .search {
  width: 90%;
}
.home section.header .search .form-group {
  background: #fff;
  padding: 5px;
  border-radius: 3px;
}
.home section.header .search .form-group input {
  background: transparent;
  border: none;
}
.home section.header .search .form-group input::placeholder {
  font-style: italic;
  font-weight: 400;
  color: #7693b3;
  font-size: 17px;
}
.home section.header .search .form-group button {
  text-transform: uppercase;
  font-weight: 700;
}
.home section.header .search .form-group button i {
  font-family: "Font Awesome 5 Pro";
}
.home section.header .quizz {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 17px;
  padding: 8px 20px;
  margin-bottom: 145px;
}
.home section.programmes {
  background-color: #f0f0f0;
  background-image: url('../img/hr-programmes.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  padding: 85px 0 120px 0;
}
.home section.programmes .container {
  flex-wrap: wrap;
}
.home section.programmes .programme {
  width: 200px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 21px;
  white-space: normal;
  position: relative;
  margin: 10px 0;
}
.home section.programmes .programme.esmae {
  background: #7c4d96;
}
.home section.programmes .programme::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  border: 1px solid #fff;
  opacity: 0.3;
  border-radius: 2px;
}
.home section.programmes .programme::after {
  content: '';
  position: absolute;
  bottom: 33px;
  width: 40px;
  height: 3px;
  background: #fff;
  opacity: 0.3;
  left: 50%;
  transform: translate(-20px, 0);
}
.home section.programmes .programme span {
  display: inline-block;
  line-height: 1.1;
}
section.en-videos {
  padding: 70px 0 90px 0;
  position: relative;
}
section.en-videos::before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-image: url('../img/pattern.png');
  background-position: top center;
}
section.en-videos .videos-yt-container {
  margin-top: 50px;
}
section.en-videos .video-yt {
  position: relative;
}
section.en-videos .video-yt iframe {
  width: 100%;
  height: 250px;
}
section.sousheader {
  background-color: #f0f0f0;
  background-image: url('../img/pattern-ariane.png');
  background-repeat: repeat;
  background-position: top center;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
section.sousheader .sousheader__center {
  display: flex;
  align-items: center;
}
section.sousheader .sousheader__center .fil-ariane__home {
  margin-right: 10px;
}
section.sousheader .sousheader__center .fil-ariane {
  list-style: none;
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  position: relative;
}
section.sousheader .sousheader__center .fil-ariane li {
  margin-right: 5px;
  margin-left: 5px;
}
section.sousheader .sousheader__center .fil-ariane li:nth-child(2n+1) {
  min-width: 54px;
}
section.sousheader .sousheader__center .fil-ariane li:first-child {
  margin-left: 0;
}
section.sousheader .sousheader__center .fil-ariane li:last-child {
  margin-right: 0;
}
section.sousheader .sousheader__center .fil-ariane li a {
  color: #00133c;
  text-decoration: none;
}
section.sousheader .sousheader__center .fil-ariane li .fas {
  color: #e40744;
}
section.sousheader .sousheader__center .fil-ariane::after {
  content: "";
  position: absolute;
  border-top: 1px solid #b0c7e1;
  width: 200px;
  bottom: -5px;
  left: 0;
}
section.sousheader .justify-end {
  justify-content: end;
}
section.sousheader .partager {
  list-style: none;
  display: inline-flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #b0c7e1;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  color: #00133c;
  text-transform: uppercase;
}
section.sousheader .partager li {
  margin-right: 5px;
}
section.sousheader .partager li:first-child {
  margin-right: 10px;
  font-weight: bold;
}
section.sousheader .partager .partager__facebook {
  background: #b0c7e1;
  color: #31508e;
  border-radius: 5px;
  padding: 3px 9px;
}
section.sousheader .partager .partager__twitter {
  background: #b0c7e1;
  color: #1498f0;
  border-radius: 5px;
  padding: 3px 6px;
}
section.sousheader .partager .partager__linkedin {
  background: #b0c7e1;
  color: #006fad;
  border-radius: 5px;
  padding: 3px 6px;
}
section.sousheader .partager .partager__plus {
  background: #ff5c47;
  color: #ffffff;
  border-radius: 5px;
  padding: 3px 6px;
}
section.content .content__img {
  padding-bottom: 60px;
}
section.content table {
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}
section.content table thead {
  border: 1px solid #b0c7e1;
  color: #00133c;
  font-size: 20px;
}
section.content table thead tr th {
  padding: 20px 20px 5px 20px;
  border-right: 1px solid #b0c7e1;
}
section.content table thead tr th .thead__top {
  position: relative;
}
section.content table thead tr th .thead__top::before {
  content: "";
  height: 3px;
  width: 120%;
  background: #e40744;
  position: absolute;
  top: -5px;
}
section.content table tbody tr:nth-child(2n) {
  background: #f0f0f0;
}
section.content table tbody tr td {
  padding: 10px 20px;
  border-right: 1px solid #b0c7e1;
}
section.content table tbody tr td:last-child {
  border: none;
}
section.content blockquote {
  background-image: url("../img/blockquote-froid.png");
  padding: 50px 100px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #00133c;
  text-align: center;
}
section.content blockquote .blockquote {
  background: #ffffff;
  border: 1px solid #b0c7e1;
  border-radius: 5px;
  padding: 50px 20px 30px 20px;
  position: relative;
}
section.content blockquote .blockquote::before {
  content: url("../img/before-blockquote.png");
  width: 100%;
  position: absolute;
  top: -33px;
  left: 0;
  right: 0;
}
.sidebar .sidebar__block hr {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 60%;
  border-top: 5px solid #e40744;
}
.sidebar .sidebar__block h2 {
  color: #00133c;
  padding-top: 5px;
  font-weight: 300;
}
.sidebar .sidebar__block h2 .red {
  color: #e40744;
  font-weight: 900;
}
.sidebar .sidebar__block ul {
  padding-left: 0;
  list-style: none;
  font-weight: 400;
}
.sidebar .sidebar__block ul li {
  border-bottom: 1px solid #b0c7e1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.sidebar .sidebar__block ul li:last-child {
  border: none;
}
.sidebar .sidebar__block ul li a {
  padding: 0 20px;
  text-decoration: none;
}
.sidebar .sidebar__block.sidebar__propos li {
  position: relative;
}
.sidebar .sidebar__block.sidebar__propos li::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #e40744;
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 20px;
}
.sidebar .sidebar__block.sidebar__link li {
  position: relative;
}
.sidebar .sidebar__block.sidebar__link li::before {
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #b0c7e1;
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 6px;
  border: 1px solid #b0c7e1;
  padding: 2px 4px;
}
.sidebar .sidebar__block.sidebar__document li {
  position: relative;
}
.sidebar .sidebar__block.sidebar__document li::before {
  content: "\f15c";
  font-family: "Font Awesome 5 Free";
  color: #b0c7e1;
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 6px;
  border: 1px solid #b0c7e1;
  padding: 2px 6px;
}
.liste.liste-full {
  display: flex;
}
.liste.slick-liste {
  display: none;
}
.liste .card {
  background: none;
  border: none;
  border-radius: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}
.liste .card .card-img-top {
  border-radius: 0;
}
.liste .card .card-body {
  padding: 1.25rem 0;
}
.liste .card .card-body .card-text {
  color: #00437a;
}
.pagination .page-item .page-link {
  border-left: none;
  border-right: none;
  border-color: #b0c7e1;
  color: #00133c;
}
.pagination .page-item .page-link.arrow {
  background: #e40744;
  color: #ffffff;
  border: 1px solid #e40744;
}
.pagination .page-item .page-link.active span {
  color: #e40744;
  position: relative;
}
.pagination .page-item .page-link.active span::after {
  content: "";
  background: #e40744;
  height: 2px;
  width: 134%;
  position: absolute;
  bottom: -3px;
  left: -1px;
}
section.programme .programme-bannier {
  background-color: #f0f0f0;
  background-image: url('../img/banner-programme.png');
  background-size: auto;
  background-repeat: repeat;
  background-position: top center;
  max-height: 179px;
  display: flex;
  align-items: center;
  padding: 60px 27px;
  margin-top: 40px;
  margin-bottom: 40px;
}
section.programme .programme-bannier .programme__link {
  margin-left: 20px;
}
section.programme p {
  padding-left: 21px;
}
section.programme p.primary {
  padding-left: 0;
}
section.programme .programme-info {
  border-left: 1px solid #b0c7e1;
  text-align: center;
}
section.programme .programme-info img {
  border-radius: 2px;
}
section.programme .programme-info .tel {
  color: #e40744;
  font-weight: 700;
  font-size: 20px;
}
section.programme .programme-info .tel a {
  color: #e40744;
}
section.programme .programme-info .programme-info__link {
  margin-top: 20px;
}
section.programme .programme-info .programme-info__link .programme__link {
  margin-top: 10px;
}
section.programme ul {
  padding: 20px 25px;
}
section.programme ul li {
  padding: 2px 40px 2px 0;
}
section.programme .card {
  border: none;
  background: none;
  border-radius: 0;
  border-bottom: 1px solid #b0c7e1;
}
section.programme .card .card-header {
  border: none;
  background: none;
  padding: 0;
}
/* sticky header */
header.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background: #fff;
  transition: all 300ms;
}
header.site-header .surheader {
  -webkit-transition: transform 300ms, height 300ms;
  transition: transform 300ms, height 300ms;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
}
header.site-header .menu {
  transition: all 300ms;
}
header.site-header .menu .navbar-brand {
  transition: all 300ms;
}
header.site-header .menu .navbar {
  transition: all 300ms;
}
header.site-header.sticky-header .surheader {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  height: 0 !important;
}
header.site-header.sticky-header .menu .dropdown_main {
  top: 77px;
}
header.site-header.sticky-header .menu .navbar-brand {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
header.site-header.sticky-header .menu .navbar {
  padding-top: unset;
  padding-bottom: unset;
}
/* sticky header end */
.anim-grow {
  position: relative;
}
.anim-grow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background: red;
  transition: all 500ms;
}
.anim-grow:hover::before {
  width: 100%;
  left: 0;
}
.anim-grow.active::before {
  width: 100%;
  left: 0;
}
.color-flip {
  transition: all 500ms;
}
.color-flip.btn-danger:hover {
  background: #fff;
  color: #e40744;
}
.color-flip.btn-primary:hover {
  background: #fff;
  color: #00133c;
}
.color-flip.read-more.dark:hover {
  background: #e40744;
}
.color-flip.read-more.light:hover {
  background: #e40744;
  color: #fff;
  border-color: #e40744;
}
.color-flip.contact-lien:hover {
  background: #e40744;
  color: #fff;
}
.flipy > * {
  transition: all 500ms;
}
.flipy:hover > * {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.fade-in {
  animation: fade-in 1s;
}
.rise {
  transition: all 500ms;
}
.rise:hover {
  transform: translate(0, -5px);
}
.rise-shadow {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.rise-shadow:hover {
  transform: translate(0, -5px);
  box-shadow: 2px 2px 10px -2px #4d5a77;
}
.sidebar__block a {
  color: #00133c;
  font-weight: 300;
}
.sidebar__block a:hover {
  color: #e40744;
}
.sidebar__block.sidebar__link li:hover::before,
.sidebar__block.sidebar__document li:hover::before {
  color: #e40744;
  border-color: #e40744;
}
.contact:hover {
  text-decoration: none;
}
.contact:hover.light {
  border-color: #e40744;
  background: #e40744;
  color: #ffffff;
  transition: 0.2s;
}
section.sousheader .sousheader__center .fil-ariane li a:hover {
  color: #e40744;
}
section.sousheader .partager .partager__facebook:hover {
  background: #31508e;
  color: #ffffff;
}
section.sousheader .partager .partager__twitter:hover {
  background: #1498f0;
  color: #ffffff;
}
section.sousheader .partager .partager__linkedin:hover {
  background: #006fad;
  color: #ffffff;
}
section.sousheader .partager .partager__plus:hover {
  background: #ffffff;
  color: #ff5c47;
}
.btn {
  transition: 0.2s;
}
.btn:hover.btn-light {
  background: #e40744;
  border-color: #e40744;
  color: #ffffff;
}
.pagination .page-link {
  transition: 0.2s;
}
.pagination .page-link:hover {
  background: none;
}
.pagination .page-link:hover span {
  color: #e40744;
  position: relative;
}
.pagination .page-link:hover span::after {
  content: "";
  background: #e40744;
  height: 2px;
  width: 134%;
  position: absolute;
  bottom: -3px;
  left: -1px;
}
.pagination .page-link.arrow:hover {
  background: #ffffff;
  color: #e40744;
  border-color: #e40744;
}
.slick-slider .slick-prev,
.slick-slider .slick-next {
  transition: 0.2s;
}
.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover {
  background: #ffffff;
}
.slick-slider .slick-prev:hover::before,
.slick-slider .slick-next:hover::before {
  color: #e40744;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (max-width: 992px) {
  header.site-header.sticky-header .menu .dropdown_main {
    top: 0;
  }
  .menu .navbar {
    box-shadow: none !important;
  }
  .menu .nav-item {
    position: relative;
  }
  .menu .nav-item a {
    display: inline-block;
  }
  .menu .nav-item i {
    display: block;
    position: absolute;
    top: 10px;
    right: 27px;
    padding: 0 0 10px 50px;
  }
  .menu .dropdown_main {
    position: relative;
    background: transparent;
    top: 0;
    box-shadow: none !important;
    padding-top: 0;
  }
  .menu .dropdown_main .menu_drop {
    display: block;
    padding-right: 40px;
  }
  .menu .dropdown_main .menu_drop .second-level {
    width: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
  }
  .menu .dropdown_main .menu_drop .second-level a {
    color: #fff;
  }
  .menu .dropdown_main .menu_drop .second-level i {
    display: block;
    color: #fff;
    position: absolute;
    top: 12px;
  }
  .menu .dropdown_main .menu_drop .second-level .third-level {
    display: none;
  }
  .menu .dropdown_main .menu_drop .second-level .third-level li a {
    color: #fff;
  }
  .liste.liste-full {
    display: none;
  }
  .liste.slick-liste {
    display: flex;
    position: relative;
  }
  .liste .card {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  section.sousheader .sousheader__center {
    display: flex;
    justify-content: center;
  }
  section.sousheader .sousheader__center.justify-end {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  h1 .h1__blue {
    color: #00133c;
  }
  h1 .h1__blue::before {
    display: none;
  }
  h3::before {
    display: none;
  }
  blockquote {
    padding: 50px 50px;
  }
}
@media (max-width: 455px) {
  section.content table thead {
    font-size: 17px;
  }
  section.content table tbody {
    font-size: 14px;
  }
  section.content blockquote {
    padding: 10px 10px;
    font-size: 14px;
  }
}
