.anim-grow {
  position: relative;
}
.anim-grow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background: red;
  transition: all 500ms;
}
.anim-grow:hover::before {
  width: 100%;
  left: 0;
}
