/* sticky header */

header.site-header {
  position: fixed;
  width:100%;
  top:0;
  z-index:999;
  background: #fff;
  transition: all 300ms;
  .surheader {
    -webkit-transition: transform 300ms, height 300ms;
    transition: transform 300ms, height 300ms;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    //height:38px;
  }
  .menu {
    transition: all 300ms;
    .navbar-brand {
      transition: all 300ms;
    }
    .navbar {
      transition: all 300ms;
    }
  }
  &.sticky-header {
    .surheader {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      height:0 !important;
    }
    .menu {
      .dropdown_main {
        top: 77px;
    }
      .navbar-brand {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
      }
      .navbar {
        padding-top: unset;
        padding-bottom: unset;
      }
    }
  }
}

/* sticky header end */

.anim-grow {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width:0;
    height:2px;
    bottom:0;
    left:50%;
    background: red;
    transition: all 500ms;
  }
  &:hover {
    &::before {
      width:100%;
      left:0;
    }
  }
  &.active {
    &::before {
      width:100%;
      left:0;
    }
  }
}

.color-flip {
  transition: all 500ms;
  &.btn-danger {
    &:hover {
      background: #fff;
      color: @danger;
    }
  }
  &.btn-primary {
    &:hover {
      background: #fff;
      color: @primary;
    }
  }
  &.read-more.dark {
    &:hover {
      background: @danger;
    }
  }
  &.read-more.light {
    &:hover {
      background: @danger;
      color: #fff;
      border-color: @danger;
    }
  }
  &.contact-lien {
    &:hover {
      background: @danger;
      color: #fff;
    }
  }
}

.flipy {
  >* {
    transition: all 500ms;
  }
  &:hover {
    >* {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }
}

.fade-in {
  animation: fade-in 1s;
}

.rise {
  transition: all 500ms;
  &:hover {
    transform: translate(0,-5px);
  }
}
.rise-shadow {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  &:hover {
    transform: translate(0,-5px);
    box-shadow: 2px 2px 10px -2px @darkgrey;
  }
}

.sidebar__block{
  a{
    color: @primary;
    font-weight: 300;
    &:hover {
      color: @danger;
    }
  }
  &.sidebar__link, &.sidebar__document{
    li{
      &:hover{
        &::before{
          color: @danger;
          border-color: @danger;
        }
      }

    }
  }
}

.contact:hover{
  text-decoration: none;
  &.light{
    border-color: @danger;
    background: @danger;
    color: #ffffff;
    transition: 0.2s;
  }

}
section.sousheader{
  .sousheader__center .fil-ariane li a:hover{
    color: @danger;
  }
  .partager{

    .partager__facebook {
      &:hover {
        background: @facebook;
        color: #ffffff;
      }
    }
    .partager__twitter {
      &:hover {
        background: @twitter;
        color: #ffffff;
      }
    }
    .partager__linkedin {
      &:hover {
        background: @linkedin;
        color: #ffffff;
      }
    }
    .partager__plus {
      &:hover {
        background: #ffffff;
        color: @orange;
      }
    }
  }
}

//.liste-full{
//  .card:hover{
//    transform: translateY(-21px);
//  }
//}

.btn{
  transition: 0.2s;
  &:hover{
    &.btn-light{
      background: @danger;
      border-color: @danger;
      color: #ffffff;
    }
  }
}

.pagination{
  .page-link{
    transition: 0.2s;
    &:hover{
      background: none;

      span {
        color: @danger;
        position: relative;
        &::after {
          content: "";
          background: #e40744;
          height: 2px;
          width: 134%;
          position: absolute;
          bottom: -3px;
          left: -1px
        }
      }

    }
    &.arrow:hover{
      background: #ffffff;
      color: @danger;
      border-color:  #e40744;
    }
  }
}

.slick-slider{
  .slick-prev,.slick-next{
    transition: 0.2s;
    &:hover{
      background: #ffffff;

      &::before{
        color: @danger;

      }
    }

  }
}

@keyframes fade-in {
  0% {
    opacity:0;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
    -o-transform: translate(0,50px);
    transform: translate(0,50px);
  }
  100% {
    opacity:1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
  }
}