.btn {
  border:none;
  &.btn-danger {
    padding:7px 15px;
    background: @danger;
    border:1px solid @danger;
  }
  &.btn-primary {
    background: @primary;
    border:1px solid @primary;
  }
  i {
    margin-right:11px;
  }
  &.btn-light{
    border: 1px solid@light;
    color: @danger;
  }
  &.btn-link{
    width: 100%;
    text-align: left;
    color: @primary;
    font-size: 22px;
    font-weight: 700;

  }
}

.read-more {
  text-decoration: none;
  border:1px solid;
  border-radius: 2px;
  text-transform: uppercase;
  padding:3px 10px;
  span {
    font-size: 14px;
    display: flex;
    align-items: center;
    &::after {
      content: '\f105';
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      font-size: 18px;
      padding-left:12px;
    }
  }
  &.dark {
    border-color: @danger;
    color: #fff;
  }
  &.light {
    border-color: @light;
    color: @danger;
  }
  &.primary {
    border-color: @light;
    color: @altblue;
  }
  &:hover {
    text-decoration: none;
  }
}

.contact{
  text-decoration: none;
  border:1px solid;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  span{
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    &::before{
      content: url("../img/picto/contact.png");
      padding-right: 10px;
    }
  }
  &.light {
    border-color: @light;
    color: @danger;
  }
}

.programme__link{
  text-decoration: none;
  border:1px solid;
  padding: 5px 15px;
  display:  inline-flex;;
  justify-content: center;
  border-radius: 2px;
  &.light {
    border-color: @light;
    color: @light;
    background: #ffffff;
    font-weight: 400;
    &.bis{
      width: 90%;
      padding: 10px 15px;
    }
  }
  &.altblue{
    border-color: @light;
    color: @altblue;
    background: #ffffff;
    font-weight: 400;
  }
  span {
    &.poste{
      font-size: 20px;
      &.bis{
        font-size: 25px;
        position: relative;
        display: flex;
        align-items: start;
        &::before{
          content: url("../img/picto/postuler-big.png");
        }
        &::after{
          content: "";
          position: absolute;
          border-top: 3px solid #b0c7e1;
          width: 25%;
          bottom: 8px;
          left: 50px;
        }
      }
      &::before{
        content: url("../img/picto/postuler.png");
        padding-right: 10px;
      }
    }

    &.brochure{
      font-size: 20px;
      position: relative;
      padding-left: 40px;
      display: flex;
      align-items: center;
      line-height: 100%;
      &.bis{
        font-size: 25px;
        &::before{
          content: url("../img/picto/brochure-big.png");
        }
      }
      &::before{
        content: url("../img/picto/brochure.png");
        padding-right: 10px;
        position: absolute;
        left: -5px;
      }
    }
    &.email{
      &::before{
        content: "\f0e0";
        padding-right: 10px;
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
      }
    }
    &.linkedin{
      &::before{
        content: "\f0e1";
        padding-right: 10px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
  }
}

.slick-slider{
  .slick-prev,.slick-next{
    color: transparent;
    background: @danger;
    border: 1px solid @danger;
    border-radius: 2px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    &::before{
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #ffffff;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .slick-prev{
    left: 0;
    top: -16px;

    &::before{
      content: "\f104";
    }
  }
  .slick-next{
    right: 0;
    top: -16px;

    &::before{
      content: "\f105";
    }
  }
}
