section.sousheader {
  background-color: #f0f0f0;
  background-image: url('../img/pattern.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 50px;
}
section.content .content__img {
  padding-bottom: 60px;
}
section.content table thead {
  border: 1px solid ;
}
