section.sousheader{
  background-color: #f0f0f0;
  background-image: url('../img/pattern-ariane.png');
  background-repeat: repeat;
  //background-size: cover;
  background-position: top center;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  .sousheader__center{
    display: flex;
    align-items: center;

    .fil-ariane__home{
      margin-right: 10px;
    }

    .fil-ariane {
      list-style: none;
      display: inline-flex;
      align-items: center;
      padding-left: 0;
      position: relative;
      li {
        margin-right: 5px;
        margin-left: 5px;
      &:nth-child(2n+1){
        min-width: 54px;
      }
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        a{
          color: @primary;
          text-decoration: none;
        }
        .fas{
          color: @danger;
        }
      }
      &::after {
        content: "";
        position: absolute;
        border-top: 1px solid @light;
        width: 200px;
        bottom: -5px;
        left: 0;
      }
    }
  }
  .justify-end{
    justify-content: end;
  }
  .partager{
    list-style: none;
    display: inline-flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid @light;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
    color: @primary;
    text-transform: uppercase;
    li{
      margin-right: 5px;
      &:first-child{
        margin-right: 10px;
        font-weight: bold;
      }
    }
    .partager__facebook{
      background: @light;
      color: @facebook;
      border-radius: 5px;
      padding: 3px 9px;
    }
    .partager__twitter{
      background: @light;
      color:@twitter ;
      border-radius: 5px;
      padding: 3px 6px;
    }
    .partager__linkedin{
      background: @light;
      color: @linkedin;
      border-radius: 5px;
      padding: 3px 6px;
    }
    .partager__plus{
      background: @orange;
      color: #ffffff;
      border-radius: 5px;
      padding: 3px 6px;
    }
  }
}

section.content{
  .content__img{
    padding-bottom: 60px;
  }
  table{
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    thead{
      border: 1px solid @light;
      color: @primary;
      font-size: 20px;
      tr{
        th{
          padding: 20px 20px 5px 20px;
          border-right: 1px solid @light;
          .thead__top{
            position: relative;
            &::before{
              content: "";
              height: 3px;
              width: 120%;
              background: @danger;
              position: absolute;
              top: -5px;
            }
          }
        }
      }
    }
    tbody{
      tr {
        &:nth-child(2n) {
          background: @bg-grey;
        }
        td{
          padding: 10px 20px;
          border-right: 1px solid @light;
          &:last-child{
            border: none;
          }
        }
      }
    }
  }
  blockquote{
    background-image: url("../img/blockquote-froid.png");
    padding: 50px 100px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: @primary;
    text-align: center;
    .blockquote{
      background: #ffffff;
      border: 1px solid @light;
      border-radius: 5px;
      padding: 50px 20px 30px 20px;
      position: relative;
      &::before{
        content: url("../img/before-blockquote.png");
        width: 100%;
        position: absolute;
        top: -33px;
        left: 0;
        right: 0;
      }
    }
  }
}

