@font-face {
  font-family: 'Chapaza';
  src: url('../font/ChapazaItalic-Italic.eot');
  src: url('../font/ChapazaItalic-Italic.eot?#iefix') format('embedded-opentype'),
  url('../font/ChapazaItalic-Italic.woff2') format('woff2'),
  url('../font/ChapazaItalic-Italic.woff') format('woff'),
  url('../font/ChapazaItalic-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Font Awesome 5 Pro';
  src: url('../font/FontAwesome5ProLight.eot');
  src: url('../font/FontAwesome5ProLight.eot?#iefix') format('embedded-opentype'),
  url('../font/FontAwesome5ProLight.woff2') format('woff2'),
  url('../font/FontAwesome5ProLight.woff') format('woff'),
  url('../font/FontAwesome5ProLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
