footer {
  background: @primary;
  padding-top:57px;
  .main-footer {
    justify-content: space-between;
  }
  .logo-rs-container {
    .rs {
      padding: 26px 0;
      a {
        text-decoration: none;
        padding-right: 14px;
        i {
          color: #fff;
          transition: all 500ms;
          font-size: 18px;
        }
        &:hover {
          i {
            color: @light;
          }
        }
      }
    }
  }
  .une-ecole {
    margin-top:10px;
  }
  .contact-lien {
    border: 1px solid @danger;
    border-radius: 2px;
    color: @danger;
    display: block;
    padding:12px 20px;
    text-decoration: none;
    img {
      flex-grow:0;
      flex-shrink:0;
      display: block;
      margin:auto;
    }
    span {
      display: block;
      position: relative;
      margin-bottom:12px;
      &::after {
        content: '';
        position: absolute;
        width:40px;
        height:2px;
        background: @altgrey;
        bottom:-8px;
        left:50%;
        -webkit-transform: translate(-20px,0);
        -moz-transform: translate(-20px,0);
        -ms-transform: translate(-20px,0);
        -o-transform: translate(-20px,0);
        transform: translate(-20px,0);
      }
    }
  }
  h4 {
    font-size: 13px;
    font-weight: 700;
    color: @danger;
    text-transform: uppercase;
    margin-bottom:25px;
    padding:0;
  }
  .certif {
    img {
      margin-right:33px;
    }
  }
  .sub-footer {
    border-top:1px solid @darkgrey;
    border-bottom:1px solid @darkgrey;
    padding:15px 0;
    .menu-footer {
      margin:auto;
      .item {
        display: inline-block;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        padding-left:35px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width:5px;
          height:5px;
          border-radius: 50%;
          background: @darkgrey;
          left:13px;
          bottom:7px;
        }
        &:first-of-type {
          padding-left:0;
          &::before {
            display: none;
          }
        }
        a {
          color: @altgrey;
          text-decoration: none;
          padding-bottom:5px;
        }
      }
    }
  }
  .copyright {
    justify-content: flex-end;
    p {
      font-size: 12px;
      color: #a3a7b0;
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}