body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: @altblue;
}

select,.select {
  background-image: url('../img/picto/angle-down-solid.png');
  background-position: right 10px center;
  background-size: 8px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right:15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

b, strong{
  color: @primary;
  font-weight: 700
}

hr{
  border-top: 2px solid @danger;
  margin-top: 50px;
  margin-bottom: 50px;
}

p{
  padding-top: 10px;
  padding-bottom: 10px;
}

.uppercase{
  text-transform: uppercase;
}

.readmore-container {
  .readmore {
    color: @danger;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    &:hover {
      text-decoration: none;
    }
  }
}

.home {
  .slick-slider {
    .slick-prev {
      left:-50px;
    }
    .slick-next {
      right: -50px;
    }
    .slick-prev, .slick-next {
      top:50%;
      -webkit-transform: translate(0,-25px);
      -moz-transform: translate(0,-25px);
      -ms-transform: translate(0,-25px);
      -o-transform: translate(0,-25px);
      transform: translate(0,-25px);
    }
  }

}
