body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
select,
.select {
  background-image: url('../img/picto/angle-down-solid.png');
  background-position: right 10px center;
  background-size: 8px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 15px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
