h1{
  color: @primary;
  position: relative;
  font-size: 33px;
  padding-left: 142px;
  padding-top: 40px;
  z-index: 2;
  text-indent: -48px;
  &::before{
    content: "";
    width: 40px;
    height: 40px;
    background: @light;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 16px;
  }
  &::after{
    content: "";
    width: 40px;
    height: 40px;
    background: @danger;
    position: absolute;
    z-index: -1;
    left: 40px;
    top: 16px;
  }
  .h1__blue{
    color: #ffffff;
    position: relative;
    z-index: 1;
    &::before{
      content: "";
      position: absolute;
      background: @primary;
      width: 80px;
      height: 80px;
      z-index: -1;
      left: -42px;
      top: 2px;
    }
  }
}

h2 {
  font-size: 27px;
  font-weight: 400;
  color: @danger;
  padding-bottom: 20px;
  padding-top: 20px;
  &.titre-section {
    font-weight: 300;
    font-size: 25px;
    text-align: right;
    position: relative;
    display: inline-block;
    padding-bottom:15px;
    padding-top:20px;
    line-height: 1;
    .big {
      display: block;
      font-weight: 700;
      font-size: 47px;
    }
    &.dark {
      color: #fff;
    }
    &.light {
      color: @altblue;
    }
    &::after {
      content:'';
      position: absolute;
      height:3px;
      width:142px;
      bottom:0;
      right:0;
      background: @danger;
    }

  }
}

h3{
  font-weight: 900;
  color: @primary;
  font-size: 22px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
  &::before{
    content: "";
    width: 45px;
    height: 45px;
    background: @danger;
    position: absolute;
    z-index: -1;
    left: 0;
    top: -1px;
  }
  &.light{
    padding-left: 21px;
    margin-top: 40px;
    &::before{
      background: @light;
      width: 70px;
      height: 70px;
      top: -20px
    }
  }
  &.none{
    padding: 0 20px;
    font-weight: 900;
    &::before{
      content: "\f067";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      background: none;
      font-size: 10px;
      border: 1px solid @light;
      color: @light;
      border-radius: 20px;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 10px;
    }
  }
}

h4{
  color: @altblue;
  font-size: 21px;
  padding-bottom: 10px;
  padding-top: 10px;
  &.info{
    color: @primary;
    font-weight: 300;
    font-size:25px;
    margin-bottom: 0;
  }
  &.danger{
    color: @danger;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      width:50px;
      height: 4px;
      background: @danger;
      bottom: -5px;
      left: 0;
    }
  }
}

