.surheader {
  .rs {
    padding: 8px 0;
    a {
      text-decoration: none;
      padding-right: 17px;
      i {
        color: @light;
        transition: all 500ms;
        font-size: 18px;
      }
      &:hover {
        i {
          color: @primary;
        }
      }
    }
  }
  .cta-lang {
    .btn {
      margin: -3px 5px 0 5px;
    }
    i {
      font-family: 'Font Awesome 5 Pro', sans-serif;
      font-weight: 300;
    }
    span {
      font-size: 13px;
    }
  }
  .dropdown {
    padding-left:10px;
    .dropdown-select {
      background-image: url('../img/picto/angle-down-solid.png');
      background-position: right 10px center;
      background-size: 8px;
      background-repeat: no-repeat;
      img {
        padding-right:30px;
      }
    }
  }
}

.menu {
  background: @primary;
  .nav-item {
    position: static;
    i {
      display: none;
      color: #fff;
      font-size: 20px;
    }
  }
  .navbar-brand {
    img {
      width:118px;
    }
  }
  .hamburger {
    .hamburger-box{
      .hamburger-inner {
        background: #fff;
        &::before, &::after {
          background: #fff;
        }
      }
    }
  }
  .dropdown_main {
    display: none;
    background: @bg-grey;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    right: 0;
    top: 93px;
    text-transform: none;
    font-weight:400;

    &.active {
      display: block;
    }

    .menu_drop {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      justify-content: flex-start;

      &.col-lg-8 {
        .second-level {
          width: 33%;
        }
      }

      .retour-mobile {
        display: none;

        span {
          display: inline-block;
          position: relative;
          padding: 15px 0 20px 35px;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 25px;
            height: 20px;
            //background: url('/wp-content/themes/mlp/img/arrow-back.png') no-repeat center center;
            background-size: contain;
          }
        }
      }

      .second-level {
        font-size: 14px;
        width: 25%;
        padding: 0 20px 20px;
        position: relative;

        a {
          color: @primary;
          text-decoration: none;
          transition: color 300ms;
          text-transform: uppercase;
          font-weight: 700;
          padding-bottom:5px;

        }

        i {
          cursor: pointer;
          display: none;
          margin-left: 30px;
          font-size: 20px;
          position: absolute;
          right: 20px;
        }

        .third-level {
          font-size: 16px;
          list-style: none;
          padding-top: 4px;

          li {
            padding: 3px 0;
          }

          a {
            color: @altblue;
            text-decoration: none;
            text-transform: none;
            font-weight: 400;
            position: relative;
            transition: color 300ms;
            &:hover {
              color: @danger;
            }
          }
        }
      }
    }
  }
  .nv1 {
    font-family:'Lato', sans-serif;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
    span {
      padding-bottom:10px;
    }
  }
}
