.home {
  section.header {
    background-color: @bg-grey;
    background-image: url('../img/banner-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    .baseline {
      padding: 85px 0 75px 0;
    }
    .search {
      width:90%;
      .form-group {
        background: #fff;
        padding: 5px;
        border-radius: 3px;

        input {
          background: transparent;
          border: none;
          &::placeholder {
            font-style: italic;
            font-weight:400;
            color: @placeholder;
            font-size: 17px;
          }
        }
        button {
          text-transform: uppercase;
          font-weight:700;
          i {
            font-family: "Font Awesome 5 Pro";
          }
        }
      }
    }
    .quizz {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 17px;
      padding:8px 20px;
      margin-bottom:145px;
    }
  }
  section.programmes {
    background-color: @bg-grey;
    background-image: url('../img/hr-programmes.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    padding:85px 0 120px 0;
    .container {
      flex-wrap: wrap;
    }
    .programme {
      width:200px;
      height:190px;
      display: flex;
      justify-content: center;
      align-items: center;
      //margin: 0 9px;
      font-weight: 700;
      font-size: 21px;
      white-space: normal;
      position: relative;
      margin: 10px 0;
      &.esmae {
        background: @esmae;
      }
      &::before {
        content:'';
        position: absolute;
        top:4px;
        left:4px;
        bottom:4px;
        right:4px;
        border:1px solid #fff;
        opacity:0.3;
        border-radius: 2px;
      }
      &::after {
        content: '';
        position: absolute;
        bottom:33px;
        width:40px;
        height: 3px;
        background: #fff;
        opacity:0.3;
        left:50%;
        transform: translate(-20px,0);

      }
      span {
        display: inline-block;
        line-height:1.1;
      }
    }
  }
}
section.en-videos {
  padding: 70px 0 90px 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    z-index:0;
    width:100%;
    height:50%;
    bottom:0;
    left:0;
    background-image: url('../img/pattern.png');
    background-position: top center;
  }
  .videos-yt-container {
    margin-top:50px;
  }
  .video-yt {
    position: relative;
    iframe {
      width:100%;
      height: 250px;
    }
  }
}

