.liste{
  &.liste-full{
    display: flex;
  }
  &.slick-liste{
    display: none;
  }
  .card{
    background: none;
    border: none;
    border-radius: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    .card-img-top{
      border-radius: 0;
    }
    .card-body{
      padding: 1.25rem 0;
      .card-text{
        color: @altblue;
      }
    }
  }
}

.pagination{

  .page-item{
    .page-link{
      border-left: none;
      border-right: none;
      border-color: @light;
      color: @primary;
      &.arrow{
        background: @danger;
        color: #ffffff;
        border: 1px solid #e40744;
      }
      &.active{
        span{
          color: @danger;
          position: relative;
          &::after{
            content: "";
            background: #e40744;
            height: 2px;
            width: 134%;
            position: absolute;
            bottom: -3px;
            left: -1px
          }
        }
      }
    }

  }
}