section.programme{

  .programme-bannier{
    background-color: #f0f0f0;
    background-image: url('../img/banner-programme.png');
    background-size: auto;
    background-repeat: repeat;
    background-position: top center;
    max-height: 179px;
    display: flex;
    align-items: center;
    padding: 60px 27px;
    margin-top: 40px;
    margin-bottom: 40px;
    .programme__link{
      margin-left: 20px;

    }
  }
  p{
    padding-left: 21px;
    &.primary{
      padding-left: 0;
    }
  }
  .programme-info{
    border-left: 1px solid @light;
    text-align: center;
    img{
      border-radius: 2px;
    }
    .tel{
      color: @danger;
      font-weight: 700;
      font-size: 20px;
      a{
        color: @danger;
      }
    }
    .programme-info__link{
      margin-top: 20px;
      .programme__link{
        margin-top: 10px;
      }
    }


  }
  ul{
    padding: 20px 25px;
    li{
      padding: 2px 40px 2px 0;
    }
  }
  .card{
    border: none;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid @light;
    .card-header{
      border: none;
      background: none;
      padding: 0;
    }
  }

}