section.programme .programme-bannier {
  background-color: #f0f0f0;
  background-image: url('../img/banner-programme.png');
  background-size: auto;
  background-repeat: repeat;
  background-position: top center;
  max-height: 179px;
  display: flex;
  align-items: center;
  padding: 60px 27px;
  margin-top: 40px;
  margin-bottom: 40px;
}
section.programme .programme-bannier .programme__link {
  margin-left: 20px;
}
section.programme p {
  padding-left: 21px;
}
section.programme p.primary {
  padding-left: 0;
}
section.programme .programme-info {
  border-left: 1px;
}
