@media (max-width: 992px) {
  .liste.liste-full {
    display: none;
  }
  .liste.slick-liste {
    display: contents;
  }
  .liste .card {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  section.sousheader .sousheader__center {
    display: flex;
    justify-content: center;
  }
  section.sousheader .sousheader__center.justify-end {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  blockquote {
    padding: 50px 50px;
  }
}
@media (max-width: 455px) {
  section.content table thead {
    font-size: 17px;
  }
  section.content table tbody {
    font-size: 14px;
  }
  section.content blockquote {
    padding: 10px 10px;
    font-size: 14px;
  }
}
