@media (max-width: 992px) {
  header.site-header {
    &.sticky-header {
      .menu {
        .dropdown_main {
          top:0;
        }
      }
    }
  }
  .menu {
    .navbar {
      box-shadow: none !important;
    }
    .nav-item {
      position: relative;
      a {
        display: inline-block;
      }
      i {
        display: block;
        position: absolute;
        top:10px;
        right:27px;
        padding: 0 0 10px 50px;
      }
    }
    .dropdown_main {
      position: relative;
      background: transparent;
      top:0;
      box-shadow: none !important;
      padding-top:0;
      .menu_drop {
        display: block;
        padding-right:40px;
        .second-level {
          width:auto;
          border-bottom: 1px solid rgba(255,255,255,0.1);
          padding: 10px;
          a {
            color: #fff;
          }
          i {
            display: block;
            color: #fff;
            position: absolute;
            top:12px;
          }
          .third-level {
            display: none;
            li {
              a {
                color: #fff;
              }
            }
          }
        }
      }

    }
  }


  .liste{
    &.liste-full{
      display: none;
    }
    &.slick-liste{
      display: flex;
      position: relative;
    }
    .card{
      padding: 0 20px;
    }
  }
}

@media (max-width: 767px) {
  section.sousheader .sousheader__center{
    display: flex;
    justify-content: center;
    &.justify-end{
      justify-content: center;
    }
  }
}

@media (max-width: 575px){
  h1{
    .h1__blue{
      color: @primary;
      &::before{
        display: none;
      }
    }
  }
  h3{
    &::before{
      display: none;
    }
  }

  section.content{

  }
  blockquote{
    padding: 50px 50px;
  }
}

@media (max-width: 455px){

  section.content {
    table {
      thead {
        font-size: 17px;
      }
      tbody{
        font-size: 14px;
      }
    }
    blockquote {
      padding: 10px 10px;
      font-size: 14px;
    }
  }
}