.sidebar{
  .sidebar__block{
    hr{
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      width: 60%;
      border-top: 5px solid @danger;
    }
    h2{
      color: @primary;
      padding-top: 5px;
      font-weight: 300;
      .red{
        color: @danger;
        font-weight: 900;
      }
    }
    ul{
      padding-left: 0;
      list-style: none;
      font-weight: 400;
      li{
        border-bottom: 1px solid @light;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        &:last-child{
          border: none;
        }
        a{
          padding:0 20px;
          text-decoration: none;
        }
      }
    }
    &.sidebar__propos{
      li {
        position: relative;
        &::before {
          content: "";
          width: 6px;
          height: 6px;
          background: @danger;
          position: absolute;
          border-radius: 3px;
          left: 0;
          top: 20px;
        }
      }
    }
    &.sidebar__link{
      li {
        position: relative;
        &::before {
          content: "\f0c1";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: @light;
          position: absolute;
          border-radius: 3px;
          left: 0;
          top: 6px;
          border: 1px solid @light;
          padding: 2px 4px;
        }
      }
    }
    &.sidebar__document{
      li {
        position: relative;
        &::before {
          content: "\f15c";
          font-family: "Font Awesome 5 Free";
          color: @light;
          position: absolute;
          border-radius: 3px;
          left: 0;
          top: 6px;
          border: 1px solid @light;
          padding: 2px 6px;
        }
      }
    }
  }
}