@danger: #e40744;
@primary: #00133c;
@altblue: #00437a;
@light: #b0c7e1;
@placeholder: #7693b3;
@bg-grey: #f0f0f0;
@altgrey: #e2e2e2;
@darkgrey: #4d5a77;
@esmae: #7c4d96;
@facebook: #31508e;
@twitter: #1498f0;
@linkedin:#006fad;
@orange: #ff5c47;


