<div role="main" aria-label="story content" class="storytextp" id="storytextp" align="center"
     style="padding: 0px 0.5em; user-select: none;">
    <div class="storytext xcontrast_txt nocopy xlight" id="storytext"><p><em><strong>Harry Potter<br>and the Death Eater
        Menace</strong></em></p>
        <hr size="1" noshade="">
        <p><em><strong>Harry Potter and all associate characters and situations are the property of J.K. Rowling. I make
            no claim to ownership.</strong></em></p>
        <hr size="1" noshade="">
        <p><em><strong>CHAPTER 24: Interlude No. 1</strong></em></p>
        <p><em><strong>18 December 1993<br>Poolside at the Hotel Grand Sol, Ibiza</strong></em></p>
        <p>Johnny took another sip of his mojito as he watched the parade of oiled and tanned girls slinking around in
            their bikinis as the sun dipped down over the Ibiza skyline towards the Mediterranean. While he was enjoying
            the view, Johnny increasingly found himself disappointed and depressed that so few of the young women were
            returning his glances. He was still good-looking and in excellent shape, but Johnny had just turned 31, and
            on Ibiza, 31 might as well have been a rotting corpse in the eyes of the club kids who came to experience
            the island's legendary decadence. While an unpleasant thought to consider, Johnny was forced to admit that
            it was a sentiment he probably shared when he was that young. Not that he personally had many memories to
            support such an assumption.</p>
        <p>When Johnny was just 17 and living in America, he and his parents had been in a terrible car wreck. Johnny
            himself remembered nothing about the accident – unsurprising as the accident had caused significant brain
            damage and left him in a coma for two years. Luckily, he suffered almost no physical damage, but when he
            awoke two years later, he discovered that he'd lost <em>all</em> his memories from before the accident. In
            the twelve years since, Johnny had never been able to recall <em>anything </em>from his pre-crash life. He'd
            been <em>told</em> a great deal, but he <em>remembered </em>nothing, and when he looked at pictures of his
            deceased parents, they were strangers for whom he felt not the tiniest connection. Well, except for
            gratitude, he supposed. Johnny's late parents, Richard and Jane Janosky of Kenosha, Wisconsin, had left him
            a sizeable inheritance after the accident, and other than his retrograde amnesia, he was perfectly healthy.
            Specifically, he was at that time a perfectly healthy 19-year-old with a multi-million-dollar trust fund to
            cover all his living expenses but no living relatives or friends to counsel him against moving to the party
            capital of Europe where he could drink cocktails by the pool and chase girls (and when he was sufficiently
            drunk or bored, boys) forever.</p>
        <p>But that was twelve years ago, and after more than a decade of sex, drugs, and Eurotrash techno music, Johnny
            was becoming jaded. Life on Ibiza meant seeing humanity at its most alluring but also at its most vapid and
            banal, and at 31, Johnny had settled into a constant state of vague misanthropy. Not quite a feeling that he
            was better than anyone else. It was more like Johnny was average … and most people <em>still</em> managed to
            be his inferiors. He knew that by this point he was simply wasting his time on Ibiza in the futile hope that
            someone on his level would walk through the door.</p>
        <p>And then, someone did.</p>
        <p>She was older than every other woman in the pool area by far. Hell, Johnny was pretty sure she was older than
            <em>him</em>, and he was probably the oldest person at the hotel who wasn't on staff. But somehow that only
            heightened her allure, because she was not only beautiful but confident. <em>Supremely</em> confident. And
            <em>man</em> could she fill out what was easily a $500 bathing suit. So much so that Johnny could only smirk
            as some of the more notorious studs around the pool moved towards her to offer a drink only to step aside
            slack-jawed at a haughty turn of her head. Johnny wondered what on earth a goddess like this could possibly
            want in a place like this. He was stunned when he finally realized it was <em>him. </em>As the woman moved
            gracefully towards his table, Johnny rose and pulled out a chair for her without really understanding the
            impulse. She smiled at him, and suddenly, he felt a strange quivering in his stomach. And also about twelve
            inches lower. Suddenly, Johnny was quite glad he'd rejected the local men's fashion of tight speedos in
            favor of baggy swimming trunks.</p>
        <p>"You have good manners," she said in a lyrical voice. "I had despaired of finding anyone on this miserable
            island about whom that could be said."</p>
        <p>Johnny smiled back with more confidence than he felt. He felt quite certain that she was out of his league,
            but fate had led her to him, it seemed, so he would do the best he could to get her into bed anyway. If
            nothing else, he was enjoying the jealous looks he was presently getting from all the other guys who'd been
            too intimidated to even speak to her.</p>
        <p>"My mother used to say '<em>Manners maketh the man</em>,'" he replied casually as he produced a lighter to
            light the cigarette she'd just produced from her bag. She took a long drag on the cigarette and then
            breathed the smoke out in a manner somehow more sensual than Johnny had ever imagined possible. He gulped
            despite himself.</p>
        <p>"Did she really?" the woman said with some strange amusement, though Johnny couldn't tell what was so funny.
            For a moment, he honestly couldn't think of a single thing to say before he finally remembered the rules of
            basic social interaction.</p>
        <p>"Johnny's the name," he said with a slight stammer that he covered with his most charming smile. "Johnny
            Janosky."</p>
        <p>"My, how … alliterative." There it was again, Johnny thought. A strange amusement, as if she were toying with
            him. Johnny shrugged.</p>
        <p>"Johnny's not actually my given name," he said. "But I hate that name and never use it. Johnny and Janosky
            sound enough alike to get by. And you are?"</p>
        <p>She took another drag on the cigarette, and then breathed out three perfect rings. Johnny blushed and
            adjusted his seating position slightly in response.</p>
        <p>"Narcissa," she finally said. "Though my <em>best</em> friends call me <em>Cissy</em>."</p>
        <hr size="1" noshade="">
        <p><em><strong>Later in Johnny's extravagantly overpriced suite …</strong></em></p>
        <p>Two hours later, Johnny had apparently made it all the way to <em>best friend</em> status, as he and Cissy
            had made it back to his hotel suite to engage in the most mind-blowing sex he had ever experienced. Thirty
            minutes after that, Johnny woke up and was mortified to realize that he'd actually fallen asleep after they
            were both done. (Well, after <em>he</em> was done, at least. He certainly <em>hoped</em> that he'd satisfied
            the older woman.) Or possibly, he simply passed out from sheer exhaustion. Either way, Cissy wasn't in his
            bed when he regained consciousness. He slammed his head back against his pillow in frustration, furious that
            he'd blown his chances with someone as incredible as her. But then, he heard a sound from the living area
            like a chair being dragged across the floor. Instantly, he hopped out of bed and pulled his boxers back on
            before going to investigate. To his surprise, Cissy was there, now fully-attired in a fashionable cocktail
            dress that showed off every curve. Standing next to her was the recliner which had been repositioned for
            some reason.</p>
        <p>"Have a seat, Johnny," she said imperiously. "The lovemaking is done for now – not bad, by the way, all
            things considered – but it's really time for us to talk business."</p>
        <p>"Business?" he said in confusion before his face went pale and his eyes widened. "Oh my God, you're a
            high-class prostitute! Listen, I never offered you any money or anything, so this is <em>pure
                entrapment</em>!"</p>
        <p>She laughed. "Oh Johnny, I do find you charming like this. I hope some of this facet of you survives what's
            going to happen next."</p>
        <p>He took a step back. "Um … what <em>is</em> going to happen next?"</p>
        <p>She didn't answer at first. Instead, she opened her purse and reached inside. Johnny nearly made a break for
            it, certain that she was going to pull out a gun. But to his surprise, she instead pulled out … a stick. And
            even more surprisingly, the stick looked like it was too long to have fit in the tiny clutch purse in the
            first place!</p>
        <p>"Do you have any idea what this is, Johnny?" she asked with a smirk.</p>
        <p>"… a stick, I guess?" he said cautiously. She laughed.</p>
        <p>"Yes, Johnny. It's a stick." And then, Cissy barked out strange words in some language foreign to Johnny even
            as she gestured sharply with the wooden rod in her hand. And to the man's shock, he was lifted bodily off
            the ground and rudely dropped onto the recliner before thick ropes appeared from nowhere and tied him down
            onto it. Quite understandably, Johnny Janosky freaked the hell out.</p>
        <p>"WHAT THE FUCK! WHAT THE ACTUAL FUCK JUST HAPPENED!" he screamed. Then, Cissy swished her <em>magic
            stick</em> again (<em><strong>SILENCIO!</strong></em>) and he was suddenly unable to speak.</p>
        <p>"Johnny," she said patiently as if talking to a child. "There are things we need to discuss, and that's not
            going to be possible if you insist on throwing a tantrum. Now, will you speak civilly if I remove my
            silencing spell?"</p>
        <p>He nodded in terror as she flicked her wand again.</p>
        <p>"Sp-spell?" he stammered. "You mean … a <em>magic</em> spell?"</p>
        <p>"But of course!" Narcissa Black answered as if it were the most obvious thing in the world. "What other kind
            of spell is there worth talking about? I am a witch, this is my magic wand, and it allows me to cast
            spells."</p>
        <p>"Is that how you got me to bring you home? You put some kind of love spell on me with that thing?"</p>
        <p>She laughed. "Oh, you poor summer child. I hardly needed any magic at all to get you to take me home with
            you. Certainly nothing that required a wand. Just my … allure. Mind you, it's hardly a natural allure.
            Rather, it's the product of a gift I received many years ago from a French Veela." She paused as if
            considering what she'd just said. "Well, I suppose '<em>gift'</em> isn't the right word to describe certain
            internal organs removed after the pitiful creature's death. I mean, there was hardly anything voluntary on
            her part. Perhaps it would be more accurate to call it a <em>contribution</em> instead."</p>
        <p>She focused her attention on Johnny. "Did you understand any of that, my poppet?"</p>
        <p>Johnny swallowed painfully. "I think … I think there was some woman … or maybe something like a woman …
            called a Veela. And you killed her for something about her that you used to make yourself …
            <em>ultra-sexy</em>?" he finished lamely. Narcissa smirked in response.</p>
        <p>"Well done, Johnny. To be completely accurate, I didn't personally kill the Veela. My parents paid someone
            else to do it and prepare the elixir that required her … <em>contribution</em>. It was a graduation present
            for passing all my NEWTs. But still, well done! And I was so afraid that your time here in this den of
            iniquity would have diminished your powerful intellect. Twelve OWLs, wasn't it?"</p>
        <p>"What?" he asked in confusion. "I don't … nevermind. What do you want from me? Are … are you going to kill me
            like you did that Veela woman?"</p>
        <p>"Yes," she said plainly. Instantly, Johnny gave out a loud sob. "And no!" she continued almost cheerfully. "I
            suppose whether what happens next can be considered '<em>killing</em>' really depends on one's point of
            view."</p>
        <p>By this point, Johnny was openly weeping in terror. "Please! I don't … what do you want with <em>me</em>?! Do
            you want money? What do you want?!"</p>
        <p>"I want <em>you</em> … Bartholomew Janosky."</p>
        <p>"Don't call me that!" Johnny spat out. "I hate that name!"</p>
        <p>"Oh?" she said in mock surprise. "Shall I christen you with another name instead?" Slowly, she moved around
            behind the crying, terrified man.</p>
        <p>"I'm sure you've had a grand vacation here in this filthy Muggle fleshpot, my poppet. But playtime is over.
            You're needed now." Then, she bent down to whisper in his left ear.</p>
        <p style="text-align:center;">"<em>You've slept long enough, Mr. January. Time to wake up.</em>"</p>
        <p>And Bartholomew "Johnny" Janosky <em><span
                style="text-decoration:underline;"><strong>screamed</strong></span></em> as his mind was ripped apart.
            Despite the heavy ropes, he thrashed wildly in his chair from the pain of every single memory he'd acquired
            over the last fourteen years getting ripped out, disassembled, sifted, and discarded by someone else.
            Someone who had slumbered for a long, long time but who was now awake and angry and <em>ravenous.</em></p>
        <p>"IT HURTS!" he bellowed at the top of his lungs.</p>
        <p>"I know, poppet, I know," she said with false sympathy. "I had a child once, so I know how painful birth can
            be. I can only imagine that <em>rebirth</em> is so much worse."</p>
        <p>He screamed again, and in response, someone in the next room started banging on the connecting wall and
            yelling in an angry Spanish voice. Without ever taking her eyes off Johnny, Narcissa flicked her wand
            towards the disturbance. There was a brilliant red flash that passed right through the wall - an incredibly
            illegal but highly-effective Muggle-slaying curse she'd found in the Black Library when she was 12 - and the
            belligerent Spanish words on the other side were instantly cut off by a wet gurgle followed by the sound of
            a body falling to the ground in more than a dozen pieces.</p>
        <p>Finally, Johnny gave out one last bellow of agony, rage, and despair. It was the final desperate scream of
            someone who knew he was dying and utterly powerless to prevent it and who <em>didn't even know why</em>.
            Then, he ceased all noise and sagged down in the chair, his head lolling down to his chest. Narcissa
            carefully knelt and gently put a hand on his knee.</p>
        <p>"Mr. January? Are you with us?" she whispered.</p>
        <p>The man who had been a rich, oversexed-but-basically-decent American orphan named Johnny Janosky for the last
            fourteen years raised his head up and peered deeply into her eyes. She peered back and was pleased. Johnny's
            amiable expression was gone, replaced by a bitter and cold countenance with just a hint of homicidal
            madness. It was a face that promised endless suffering to anyone who defied his Master's will … or who
            simply crossed his path on the wrong day.</p>
        <p>"I'm with you," said Barty Crouch Jr. with a commanding sneer. "What does he want me to do?"</p>
        <hr size="1" noshade="">
        <p><strong>AN 1: Obviously, this is a shorter update than I've done in years, but I've had to do an insane
            amount of traveling that kept me from doing the Snape-Harry focused chapter that I'd planned for today. And
            I really needed to put this sequence in somewhere but could never figure out where it was going to fit.
            Despite its shortness, it's inspired some very interesting discussion over at the Sinister Man's discord
            page. You can find a link to that, along with the POS wiki and TV Tropes pages as well as to my original
            fiction, on my author page.</strong></p>
        <p><strong>AN 2: Update Schedule (barring unexpected calamity). </strong></p>
        <p><strong>Nov 21 – the next chapter of Strangers In Boston at my website for Patrons.<br>Nov 25(ish) – Chapter
            108 of POS at my website available free to all Discord members.<br>Nov 28 – Chapter 108 of POS here and on
            AO3. </strong></p>
        <p><strong>And then the holidays will probably screw everything up.</strong></p>
        <p><strong>AN 3: Thanks to my crack editors at the Discord POS-Editorial chat: patronus, Imperialanirudh,
            FeatherMinx, and (of course) the indescribable Ozzie.<br></strong></p>
    </div>
</div>