section.dernieres-actualites {
  background: @primary;
  padding-bottom:83px;
  .liste-actu {
    display: flex;
    flex-wrap: wrap;
  }
  .actu {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    .top {
      position: relative;
      .container-img {
        width:inherit;
        height:210px;
        overflow: hidden;
      }
      .date {
        position: absolute;
        bottom:35px;
        right:-10px;
        font-weight:700;
        font-size: 15px;
        i {
          font-family: 'Font Awesome 5 Pro', sans-serif;
          font-weight: 300;
        }
      }
    }
    .content {
      background: #fff;
      padding:20px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      flex: 1 0 auto;
      .titre {
        padding: 0 0 20px 0;
        margin: 0;
        a {
          font-weight:900;
          font-size: 19px;
          color: @altblue;
          text-decoration: none;
        }
      }
      .chapo {
        padding-bottom:50px;
        p {
          padding:0;
          margin:0;
          font-size: 15px;
          color: @altblue;
        }
      }
      .readmore-container {
        text-align: right;
        position: absolute;
        bottom:30px;
        right:40px;
      }
    }
  }
}