section.prochains-evenements {
  background-color: @bg-grey;
  padding: 85px 0 50px 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    height:47px;
    width:100%;
    z-index:1;
    background-image: url('../img/pattern-dark.png');
  }
  .events-list {
    margin-top:57px;
    display: flex;
  }
  .highlighted-event-container {
    flex: 1 0 auto;
  }
  .highlighted-event {
    background: @altgrey;
    border-radius: 3px;
    padding:25px;
    height:100%;
    .left-side {
      width:260px;
      overflow: hidden;
      flex-shrink: 0;
      img {
        height:100%;
      }
    }
    .right-side {
      flex-grow: 1;
      padding-left:20px;
      .titre {
        padding:0;
        margin: 35px 0 20px 0;
        &::before {
          display: none;
        }
        a {
          font-weight: 900;
          font-size: 19px;
          color: @altblue;
          text-transform: uppercase;
          text-decoration: none;

        }
      }
      .chapo {
        p {
          font-size: 15px;
          color: @altblue;
          line-height: 1;
        }
      }
    }
  }
  .minified-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .minified-event {
      flex: 1 0 45%;
      background: #fff;
      border:1px solid @light;
      border-radius: 3px;
      padding:25px;
      &:nth-of-type(1) {
        margin: 0 15px 15px 0;
      }
      &:nth-of-type(2) {
        margin: 0 0 15px 15px;
      }
      &:nth-of-type(3) {
        margin: 15px 15px 0 0;
      }
      &:nth-of-type(4) {
        margin: 15px 0 0 15px;
      }
      .titre {
        padding:0;
        margin: 12px 0 0 0;
        line-height: 1;
        &::before {
          display: none !important;
        }
        a {
          font-weight: 400;
          font-size: 16px;
          color: @altblue;
          text-transform: uppercase;
          text-decoration: none;
          transition: color 500ms;
        }
        &:hover {
          a {
            color: @primary;
          }
        }
      }
      .readmore-container {
        margin-top: 15px;
      }
    }
  }
  .date-container {
    line-height: 1.2;
    span {
      font-size: 13px;
      color: @danger;
      text-transform: uppercase;
      display: block;
      &.date {
        font-weight: 900;
        font-size: 23px;
      }
    }
    hr {
      margin: 15px 0 0 0;
      border-top:1px solid @altblue;
    }
  }
  .readmore-container {
    text-align: center;
    margin-top:35px;

  }
}